/*font define Begin*/
@font-face {
	font-family: SaiGon;
	src: url(../fonts/UVNSaigon_R.TTF);
}

@font-face {
	font-family: GiaDinh;
	src: url(../fonts/UVNGiaDinh_R.TTF);
}

@font-face {
	font-family: DaLat;
	src: url(../fonts/UVNDaLat_R.TTF);
}

@font-face {
	font-family: AnhSang;
	src: url(../fonts/UVNAnhSang.TTF);
}

@font-face {
	font-family: BanhMi;
	src: url(../fonts/UVNBanhMi.TTF);
}

@font-face {
	font-family: ThayGiao;
	src: url(../fonts/UVNThayGiao_R.TTF);
}

@font-face {
	font-family: LaXanh;
	src: url(../fonts/UVNLaXanh_R.TTF);
}

@font-face {
	font-family: Digital;
	src: url(../fonts/digital-7.ttf);
}
/*font define End*/

/* Define CSS3 Animation Begin*/
@keyframes Anim { 
	0% {background-color: #444444;}
	20%{background-color:red;}
	40%{background-color:green;}
	60%{background-color:yellow;}
	80%{background-color:blue;}
	100%{background-color:#444444;}
}
/* Define CSS3 Animation End*/

/*Bootstrap Mondifier Begin*/
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus,
	.navbar-default .navbar-nav>.open>a:hover {
	background-color: #940000;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background: #115263;
	color: #ff704d;
	transition: 0.1s;
}

.progress-bar>span {
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px
		0 #000;
}

.navbar-nav .open .dropdown-menu {
	background-color: #fefefe;
}

.navbar-default {
	background-color: #006699;
}

.navbar-default h1 {
	color: #ffffff;
	text-align: center;
}

.scrollbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #fafafa;
}

.scrollbar::-webkit-scrollbar {
	width: 12px;
	background-color: #fefefe;
}

.scrollbar::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #337ab7;
}

/*Bootstrap Mondifier End*/

/*index Begin*/
#navigation-bar {
	background-color: #115263;
}

#navigation-bar li>a {
	color: #ffffff;
	font-family: Times;
	font-size: 20px;
}

#navigation-bar .dropdown-menu>li>a {
	color: #444444;
}

#user-panel {
	position: fixed;
	display: block;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;
}

#user-panel .glyphicon {
	font-size: 40px;
}

#user-panel span, #user-panel a {
	text-align: center;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;
	font-size: 20px;
	color: #ffffff;
	text-decoration: none;
	line-height: 30px;
}

#user-panel div {
	width: 110px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.side-hide {
	left: -110px;
	padding-right: 15px;
	transition: 0.3s;
	animation: Anim 5s infinite;
}

.side-show {
	left: 0px;
	padding-right: 0px;
	background: #444444;
	transition: 0.5s;
}

#main {
	margin-top: 10px;
	margin-bottom: 60px;
}

.sidebar {
	height: 100%;
}

.sidebar>div {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
}

.sidebar a {
	font-weight: 600;
	width: 100%;
	color: #fff;
}

.sidebar .panel {
	margin-bottom: 0px;
	border: 1px #fff solid;
}

.child-index {
	display: none;
	background: #666666;
}

.child-index .row {
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
}

.child-index .row:hover {
	transition: 1s;
	background: #999999;
}

.child-index a {
	color: #ffffff;
	font-weight: 600;
	width: 100%;
	padding-left: 30px;
	text-decoration: none;
}

#content {
	margin-top: 10px;
	margin-bottom: 10px;
}

#content ul .dropdown>a {
	padding-left: 10px;
	width: 83.3333333333%;
}

.content {
	padding-left: 10px;
	background: #ffffff;
}

.content>.title {
	padding-top: 2px;
	padding-bottom: 1px;
	margin-bottom: 10px;
	background: #337ab7;
	color: #ffffff;
}

.content h1, #content>h1 {
	text-align: center;
}

.content table th {
	font-family: LaXanh;
	font-weight: 900;
	font-size: 18px;
}

.content table tbody tr:hover {
	background-color: #bce8f1;
	transition: 0.2s;
}

.content table tbody td .btn {
	text-align: center;
	width: max-content;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 5px;
}

#dashboard, #products, .sidebar {
	border: 1px #337ab7 solid;
	border-radius: 5px;
	padding-left: 0px;
	padding-right: 0px;
}

#products .scrollbar {
	max-height: 600px;
}

table tbody tr {
	font-family: Times;
}

table th, td {
	text-align: center;
	vertical-align: middle !important;
}

.actions-cell {
	width: 100px;
}

#summary>span {
	float: right;
	font-size: 30px;
	font-family: LaXanh;
}

#summary>span>span {
	font-family: Arial;
}

.seperator {
	border-bottom: 1px #777 solid;
	display: block;
}

.scrollbar {
	overflow-y: auto;
}
/*index End*/
/*Order Begin*/
#order label {
	width: 100%;
}

#order table th, td:nth-child(7) {
	width: 150px;
}
/*Order End*/

/*Account Info, Create Product, Edit Product Begin*/
.info .btn {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#detail img, #create img {
	width: 275px;
	height: 275px;
}

/*Account Info, Create Product, Edit Product End*/

/*Register - Login Begin*/
.log-form {
	background-image: url(../img/lg-background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

.log-form>div {
	margin-top: 3%;
}

.log-form h1 {
	text-align: center;
	font-family: SaiGon;
}

.log-form .row {
	margin-top: 10px;
	margin-bottom: 10px;
}

.log-form .row span {
	font-family: GiaDinh;
	font-size: 1.5em;
	margin-top: 10px;
	margin-bottom: 10px;
}

.log-form .row button {
	width: 100%;
}

.error-summary {
	font-family: GiaDinh;
	display: none;
}
/*Register - Login  End*/

/*Reverse Begin*/
.title {
	clear: both;
	text-align: center;
	display: block;
	font-family: LaXanh;
	font-weight: 900;
}

.title h3 {
	font-weight: 900;
}

.header {
	float: none;
	text-align: center;
}

/*reverse End*/

/*Dashboard Begin*/
#dashboard .panel:first-child {
	margin-top: 9px;
}

#dashboard .text-danger {
	font-weight: 600;
}
/*Dashboard End*/

/*List Import, List Order, List Export Begin*/
#list table tr, #detail table tr {
	width: 1%;
}

#list .scrollbar, #detail .scrollbar {
	max-height: 500px;
}
/*List Import, List Order, List Export End*/

/*404 Begin*/
#error-404 {
	padding-top: 50px;
	display: block;
}

#error-404 .row .h1 {
	font-size: 300px;
	font-family: Digital;
}

#error-404 .row .h4 {
	font-size: 50px;
}

#error-404 a {
	margin-top: 2%;
}
/*404 End*/

/*Account Panel Responsive Begin*/
@media screen and (max-width: 1000px) {
	.side-hide {
		left: 0px;
		padding-right: 0px;
	}
	.side-show {
		left: 0px;
		padding-right: 0px;
	}
	#user-panel {
		position: relative;
		width: 100%;
	}
	#user-panel div {
		width: 100%;
		left: 0px;
	}
}
/*Account Panel Responsive End*/